* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  --grey-color: #333;
}

body {
  display: grid;
  grid-template-rows: 8% 84% 8%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  height: 100vh;
}

header {
  background-color: var(--grey-color);
}

header > div#register {
  display: flex;
  flex-direction: row;
  place-content: flex-end;
  place-items: center;
  margin-right: 0.5rem;
  height: 100%;
}

header > div#register > button.logout-btn {
  background: transparent;
  font-size: 2rem;
  border: none;
  outline: none;
}

main.chatroom {
  background-color: rgb(255, 255, 255);
}

main.chatroom > form.login-form {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  box-sizing: border-box;
  max-width: 1080px;
  margin: 0 auto;
}

main.chatroom > form.login-form > input,
main.chatroom > form.login-form > button {
  height: 3rem;
  outline: none;
}

main.chatroom > form.login-form > input,
main.chatroom > form.login-form > button:nth-child(3) {
  margin-bottom: 1rem;
}

main.chatroom > form.login-form > button {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
  border-radius: 3px;
  border: none;
}

main.chatroom > form.login-form > input {
  font-size: 1.5rem;
  padding-left: 5px;
}

main.chatroom > div.messages {
  display: none;
  flex-direction: column;
  flex: 1;
  border: 1px solid #e5e5ea;
  border-radius: 0.25rem;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  overflow-y: scroll;
  max-height: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

form.msg-form {
  display: flex;
  background: var(--grey-color);
  padding: 0.3rem;
}

form.msg-form > select {
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 1.5rem;
  width: 3rem;
  background: transparent;
  color: var(--grey-color);
}

form.msg-form > input.msg {
  border: none;
  padding: 0 1rem;
  flex: 1;
  font-size: 1.3rem;
  border-radius: 2rem;
  margin: 0.1rem 0.8rem 0.1rem 0;
  width: 100%;
}

form.msg-form > input.msg:focus {
  outline: none;
}

form.msg-form > button.msg-btn {
  background: transparent;
  font-size: 2rem;
  border: none;
  border-radius: 3px;
  outline: none;
}

div.messages > div {
  line-height: 1.25;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}

div.messages > div > p:first-child {
  display: flex;
  align-items: center;
}

div.messages > div > p:first-child > span {
  font-size: 0.7rem;
  margin-right: 3px;
}

div.messages > div > p:first-child > strong {
  font-size: 1rem;
}

div.messages > div > time {
  font-size: 0.8rem;
  float: right;
  margin-top: 5px;
}

div.messages > div.from-them > time {
  float: left;
}

div::before,
div::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

div.date-info {
  place-self: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 2rem;
  width: fit-content;
  letter-spacing: 1px;
  border: 1px dashed black;
  border-radius: 10px;
}

div.date-info:first-child {
  margin-top: 1rem;
}

div.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
  border-radius: 1.15rem 1.15rem 0 1.15rem;
}

div.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

div.from-me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.4rem;
  border-top: 1px solid transparent;
  right: -40.8px;
  transform: translate(-30px, -2px);
  width: 11.2px;
}

div[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}

div.from-me ~ div.from-me {
  margin: 0.25rem 0 0;
}

div.from-me ~ div.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

div.from-me ~ div.from-me:last-child {
  margin-bottom: 0.5rem;
}

div.from-them {
  align-items: flex-start;
  border-radius: 1.15rem 1.15rem 1.15rem 0;
  background-color: #e5e5ea;
  color: #000;
}

div.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

div.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  border-top: 1px solid transparent;
  left: 19.2px;
  transform: translate(-30px, -2px);
  width: 11.2px;
}

@media (min-width: 400px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 700px) {
  html {
    font-size: 26px;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 32px;
  }
  body {
    grid-template-rows: 9% 81% 10%;
  }
}
