* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    --grey-color: #949494;
    --lightgrey-color: #e5e5ea;
    --darkgrey-color: #333333;
    --blue-color: #248bf5;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../media/background.jpg');
    background-size: cover;
}

div.wrapper {
    display: grid;
    grid-template-rows: auto 84% auto;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 10px 10px 30px 30px rgba(0, 0, 0, 0.5);
}

header {
    background-color: var(--darkgrey-color);
}

header > div.register {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    place-items: center;
    height: 100%;
    margin-right: 0.5rem;
    padding: 0 0.5rem 0 1rem;
}

header > div.register > p {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

header > div.register > button.logout-btn {
    font-size: 2rem;
    border: none;
    background: transparent;
}

main.chatroom {
    background-color: rgb(255, 255, 255);
}

main.chatroom > form.login-form {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
    padding: 2.5rem;
    box-sizing: border-box;
}

main.chatroom > form.login-form > input,
main.chatroom > form.login-form > button {
    height: 3rem;
    outline: none;
}

main.chatroom > form.login-form > input,
main.chatroom > form.login-form > button:nth-child(3) {
    margin-bottom: 1rem;
}

main.chatroom > form.login-form > button {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    border-radius: 3px;
    border: none;
}

main.chatroom > form.login-form > input {
    font-size: 1.3rem;
    padding-left: 5px;
    width: 100%;
}

main.chatroom > form.login-form > input:-webkit-autofill::first-line {
    font-size: 1.3rem;
}

main.chatroom > form.login-form > p.msg-info {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
}

main.chatroom > div.messages {
    display: none;
    flex-direction: column;
    flex: 1;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    overflow-y: scroll;
    max-height: 100%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

form.msg-form {
    display: flex;
    background: var(--darkgrey-color);
    padding: 0.3rem;
}

form.msg-form > select {
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 1.5rem;
    width: 3rem;
    background: transparent;
    color: var(--darkgrey-color);
}

form.msg-form > input.msg {
    border: none;
    padding: 0 1rem;
    flex: 1;
    font-size: 1.3rem;
    border-radius: 2rem;
    margin: 0.1rem 0.8rem 0.1rem 0;
    width: 100%;
}

form.msg-form > input.msg:focus {
    outline: none;
}

form.msg-form > button.msg-btn {
    background: transparent;
    font-size: 2rem;
    border: none;
    border-radius: 3px;
    outline: none;
}

div.messages > div {
    line-height: 1.25;
    padding: 0.5rem 0.875rem;
    position: relative;
    word-wrap: break-word;
}

div.messages > div > p:first-child {
    display: flex;
    align-items: center;
}

div.messages > div > p:first-child > span {
    font-size: 0.7rem;
    margin-right: 3px;
}

div.messages > div > p:first-child > strong {
    font-size: 1rem;
}

div.messages > div > time {
    font-size: 0.8rem;
    float: right;
    margin-top: 5px;
}

div.messages > div.from-them > time {
    float: left;
}

/* div::before,
div::after {
    bottom: -0.1rem;
    content: '';
    height: 1rem;
    position: absolute;
} */

div.messages > div.date-info {
    place-self: center;
    margin: 2rem;
    width: fit-content;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px dashed var(--darkgrey-color);
    color: var(--darkgrey-color);
}

div.messages > div.date-info:first-child {
    margin-top: 1rem;
}

div.messages > div.from-me {
    align-self: flex-end;
    border-radius: 1.15rem 1.15rem 0 1.15rem;
    color: white;
    background-color: var(--blue-color);
}

div.messages > div.from-me::before {
    right: -0.35rem;
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid var(--blue-color);
    transform: translate(0, -0.1rem);
}

div.messages > div.from-me::after {
    width: 11.2px;
    right: -40.8px;
    border-bottom-left-radius: 0.4rem;
    border-top: 1px solid transparent;
    transform: translate(-30px, -2px);
    background-color: white;
}

div.messages > div[class^='from-'] {
    margin: 0.5rem 0;
    width: fit-content;
}

div.messages > div.from-me ~ div.from-me {
    margin: 0.25rem 0 0;
}

div.messages > div.from-me ~ div.from-me:not(:last-child) {
    margin: 0.25rem 0 0;
}

div.messages > div.from-me ~ div.from-me:last-child {
    margin-bottom: 0.5rem;
}

div.messages > div.from-them {
    align-items: flex-start;
    border-radius: 1.15rem 1.15rem 1.15rem 0;
    color: dark;
    background-color: var(--lightgrey-color);
}

div.messages > div.from-them:before {
    left: -0.35rem;
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid var(--lightgrey-color);
    transform: translate(0, -0.1rem);
}

div.messages > div.from-them::after {
    left: 19.2px;
    width: 11.2px;
    border-bottom-right-radius: 0.5rem;
    border-top: 1px solid transparent;
    transform: translate(-30px, -2px);
    background-color: white;
}

div.multisession {
    display: flex;
}

div.multisession > p:last-child {
    font-size: 1rem;
    margin-left: 0.5rem;
}

@media (min-width: 400px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 700px) {
    html {
        font-size: 26px;
    }

    div.messages > div.from-me,
    div.messages > div.from-them {
        max-width: 75%;
    }
}

@media (min-width: 1000px) {
    div.wrapper {
        grid-template-rows: 9% 81% 10%;
    }
}

@media (pointer: fine) {
    main.chatroom > div.messages::-webkit-scrollbar {
        width: 20px;
    }

    main.chatroom > div.messages::-webkit-scrollbar-track {
        background-color: transparent;
    }

    main.chatroom > div.messages::-webkit-scrollbar-thumb {
        height: 10px;
        border: 6px solid transparent;
        border-radius: 20px;
        background-clip: content-box;
        background-color: var(--grey-color);
    }
}
